<h1>Bill for Table [[${tableId}]]</h1>
<table>
    <thead>
        <tr>
            <th>Item ID</th><th>Item Name</th><th>Price</th><th>Quantity</th><th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${orders}">
            <td th:text="${item.itemId}"></td>
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.price * item.quantity}"></td>
        </tr>
    </tbody>
</table>
<h2>Total: <span th:text="${total}"></span></h2>